# See https://atom.io/docs/latest/creating-a-package#menus for more details
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Motepair'
      'submenu': [
        {
          'label': 'Connect'
          'command': 'motepair:connect'
        },
        {
          'label': 'Disconnect'
          'command': 'motepair:disconnect'
        }
      ]
    ]
  }
]
